.App {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding: 2rem;
}

.card {
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 2px 5px rgba(0,0,0,.6);
    background-color: white;
}

.image {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.name {
    text-align: center;
    margin: 1rem 0;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
}

.about__box {
    font-size: 14px;
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.about__box p {
    margin-bottom: 8px;
    color: #353535;
    text-transform: uppercase;
}

.about__box span {
    color: gray;
    text-transform: none;
    float: right;
}